<a href="https://colab.research.google.com/github/gustavoalcantara/portfolio_data/blob/main/idhm_presidentes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install basedosdados -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 51.0/51.0 KB 1.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.9/70.9 KB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 20.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.6/133.6 KB 8.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.2/135.2 KB 9.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 KB 5.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.5/97.5 KB 6.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 25.6/25.6 MB 31.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.0/106.0 KB 3.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 108.4/108.4 KB 5.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 204.0/204.0 KB 6.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 120.2/120.2 KB 12.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 555.3/555.3 KB 45.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 72.5 MB/s eta 0:00:00
  Building wheel for ckanapi (setup.py) ... done
  Building wheel for pandavro (setup.py) ... done
  Building wheel for docopt (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
notebook 5.7.16 requires jinja2<=3.0.0, but you have jinja2 3.0.3 which is incompatible.
flask 1.1.4 requires click<8.0,>=5.1, but you have click 8.0.3 which is incompatible.
flask 1.1.4 requires Jinja2<3.0,>=2.10.1, but you have jinja2 3.0.3 which is incompatible.

In [2]:
import basedosdados as bd

In [4]:
import basedosdados as bd

# Para carregar o dado direto no pandas
df = bd.read_table(dataset_id='br_me_cnpj',
table_id='dicionario',
billing_project_id="teste-projeto-bd")

Downloading: 100%|██████████| 289/289 [00:00<00:00, 743.17rows/s]

In [5]:
query = 
'''

,id_tabela,nome_coluna,chave,cobertura_temporal,valor
0,socios,tipo,1,(1),Pessoa Jurídica
1,socios,tipo,2,(1),Pessoa Física
2,socios,tipo,3,(1),Estrangeiro
3,socios,qualificacao,0,(1),Não informada
4,socios,qualificacao,5,(1),Administrador
...,...,...,...,...,...
284,estabelecimentos,motivo_situacao_cadastral,73,(1),OMISSAO CONTUMAZ
285,estabelecimentos,motivo_situacao_cadastral,74,(1),INCONSISTENCIA CADASTRAL
286,estabelecimentos,motivo_situacao_cadastral,75,(1),OBITO DO MEI - TITULAR FALECIDO
287,estabelecimentos,motivo_situacao_cadastral,80,(1),"BAIXA REGISTRADA NA JUNTA, INDEFERIDA NA RFB"
288,estabelecimentos,motivo_situacao_cadastral,82,(1),SUSPENSO PERANTE A COMISSAO DE VALORES MOBILIA...